body {
  background: #222;
  color: #eee;
  margin: 0;
}

#container {
  width: 100%;
  margin: 0 auto;
  overflow-y: hidden;
}

svg {
  width: 100%;
  height: 100%;
  background: #fff;
}

svg.mousedown {
  cursor: none;
}

svg line#playhead {
  stroke: rgb(156,20,12);
}

.note1 {
  color: #f5786b;
}
.note2 {
  color: #ffce2a;
}
.note3 {
  color: #feb2c4;
}
.note4 {
  color: #c8d657;
}
.note5 {
  color: #b03ca4;
}
.note6 {
  color: #ffb326;
}
.note7 {
  color: #7ed4d2;
}
