<html>
  <head>
    <title>Musicbox Demo</title>
    <link rel="stylesheet" type="text/css" href="/css/musicbox.css">
  </head>
  <body>

    <div id="container">
      <h1>Musicbox</h1>

      <p>Click to place or remove notes. Scroll with mousewheel/two-fingered scroll to play.</p>

      <canvas id="stave-canvas"></canvas>
    </div>

    <script type='text/javascript' src="/socket.io/socket.io.js"></script>
    <script type='text/javascript' src='/js/jquery.min.js'></script>
    <script type='text/javascript' src='/js/jquery-mousewheel.min.js'></script>
    <script type='text/javascript' src='/js/underscore-min.js'></script>
    <script type='text/javascript' src='/js/backbone-min.js'></script>
    <script type='text/javascript' src='/js/models/note.js'></script>
    <script type='text/javascript' src='/js/collections/tune.js'></script>
    <script type='text/javascript' src='/js/views/stave.js'></script>

    <script type='text/javascript'>
      tune = new app.Tune();
      stave = new app.Stave(tune);
      window.socket = io();

    </script>
  </body>
</html>
